<a href="https://colab.research.google.com/github/milanfx/Expressway-to-DTSA/blob/main/4.%20Data%20Wrangling%20with%20Python/1.%20Data%20Wrangling%20Fundamental/W2_Data_Structures.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<table width="850">
<td bgcolor="#ba2f2a"><font color="white" size="8"><b>
W2 Data Structures
</b></font></td></table>

<table width="850">
<td bgcolor="#d5695d"><font color="white" size="6"><b>
1. List
</b></font></td></table>

<table width="850">
<td bgcolor="#f8f2e4"><font color="black" size="4"><b>
1.1 Creation and Access
</b><br><br>
Task:
</font></td></table>

In [ ]:
# Creation:
list1 = [1, 2, 3, 4, 5, 0]
len(list1)

6

In [ ]:
# Index:
for i in range(len(list1)):
  print('index', i, 'has element', list1[i])

index 0 has element 1
index 1 has element 2
index 2 has element 3
index 3 has element 4
index 4 has element 5
index 5 has element 0

In [ ]:
for i in list1:
  print(i)

1
2
3
4
5
0

In [ ]:
# append
list2 = []
for i in range(10):
    list2.append(i)
list2

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
# remove
for i in list2:
  if i %2 == 0:
    list2.remove(i)
list2

[1, 3, 5, 7, 9]

In [ ]:
# sort
list2.sort()
list2

[1, 3, 5, 7, 9]

In [ ]:
# extend
list2.extend([99, 100])
list2

[1, 3, 5, 7, 9, 99, 100]

In [ ]:
import random
list3 = [x for x in range(10)]
list4 = [x*2 for x in range(10)]
list5 = [(x*2, x**2) for x in range(10)]
list6 = [random.randint(0, 1) for x in range (0, 10)]
print(list3)
print(list4)
print(list5)
print(list6)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]
[(0, 0), (2, 1), (4, 4), (6, 9), (8, 16), (10, 25), (12, 36), (14, 49), (16, 64), (18, 81)]
[1, 1, 1, 1, 1, 0, 0, 1, 0, 1]

<table width="850">
<td bgcolor="#d5695d"><font color="white" size="6"><b>
2. String
</b></font></td></table>

<table width="850">
<td bgcolor="#f8f2e4"><font color="black" size="4"><b>
2.1 Creation and Access
</b><br><br>
Task:
</font></td></table>

In [ ]:
s1 = 'Hello, world!'
print(s1)

Hello, world!

In [ ]:
s2 = 'Hello,' + ' world!'
print(s2)

Hello, world!

In [ ]:
for i in s1:
  print(i)

H
e
l
l
o
,

w
o
r
l
d
!

In [ ]:
for i in s1[-1::-1]:  # start from last, step 1 from last to first
  print(i)

!
d
l
r
o
w

,
o
l
l
e
H

In [ ]:
for i in range(len(s1)-1,-1,-1):
  print(s1[i])

!
d
l
r
o
w

,
o
l
l
e
H

In [ ]:
name = 'Milanfx'
age = 10
s3 = 'Your name is ' + name + ', and your age is ' + str(age)
print(s3)

Your name is Milanfx, and your age is 10

In [ ]:
s4 = 'Your name is {}, and your age is {}'.format(name, age)
print(s4)

Your name is Milanfx, and your age is 10

<table width="850">
<td bgcolor="#f8f2e4"><font color="black" size="4"><b>
2.2 Splitting and Slicing
</b><br><br>
Task:
</font></td></table>

In [ ]:
# splitting by space
s5 = 'Hello, world!'.split()
print(s5)

['Hello,', 'world!']

In [ ]:
# splitting by comma
s6 = 'Hello, world!'.split(',')
print(s6)

In [ ]:
# splitting by word
s7 = 'Hello, world!'.split('w')
print(s7)

['Hello, ', 'orld!']

In [ ]:
# slice
s8 = s1[:5] # first 5
print(s8)

Hello

In [ ]:
# slice
s9 = s1[-5:] # last 5
print(s9)

orld!

In [ ]:
s10 = s1[-1::-1]
print(s10)

!dlrow

<table width="850">
<td bgcolor="#d5695d"><font color="white" size="6"><b>
3. Set
</b></font></td></table>

<table width="850">
<td bgcolor="#f8f2e4"><font color="black" size="4"><b>
3.1 Creation and Access
</b><br><br>
Task:
</font></td></table>

In [ ]:
set1 = set(s1)
set1

{' ', '!', ',', 'H', 'd', 'e', 'l', 'o', 'r', 'w'}

In [ ]:
set2 = set(list1)
set2

{0, 1, 2, 3, 4, 5}

In [ ]:
# add
set2.add(100)
set2

{0, 1, 2, 3, 4, 5, 100}

In [ ]:
# remove
set2.remove(0) # with error
set2

{1, 2, 3, 4, 5, 100}

In [ ]:
# discard
set2.discard(0) # no error
set2

{1, 2, 3, 4, 5, 100}

In [ ]:
set3 = {"Apple", "Orange", "Banana"}
set4 = {"Pear", "Peach", "Mango", "Banana"}

In [ ]:
set3,set4

({'Apple', 'Banana', 'Orange'}, {'Banana', 'Mango', 'Peach', 'Pear'})

In [ ]:
set3 | set4

{'Apple', 'Banana', 'Mango', 'Orange', 'Peach', 'Pear'}

In [ ]:
set3 & set4

{'Banana'}

<table width="850">
<td bgcolor="#d5695d"><font color="white" size="6"><b>
4. Dictionary
</b></font></td></table>

<table width="850">
<td bgcolor="#f8f2e4"><font color="black" size="4"><b>
4.1 Creation and Access
</b><br><br>
Task:
</font></td></table>

In [ ]:
d1 = dict([('Harry', 1), ('Hermione', 2), ('Ron', 3)])
d1

{'Harry': 1, 'Hermione': 2, 'Ron': 3}

In [ ]:
d1 = dict(Harry=1, Hermione=2, Ron=3)
d1

{'Harry': 1, 'Hermione': 2, 'Ron': 3}

In [ ]:
d1 = {'Harry': 1, 'Hermione': 2, 'Ron':3}
d1

{'Harry': 1, 'Hermione': 2, 'Ron': 3}

In [ ]:
d1.get('Ron')

3

In [ ]:
d1['Ron']

3

In [ ]:
d1.keys()

dict_keys(['Harry', 'Hermione', 'Ron'])

In [ ]:
d1.values()

dict_values([1, 2, 3])

In [ ]:
for i, j in d1.items():
    print("{}: {}".format(i, j))

Harry: 1
Hermione: 2
Ron: 3

In [ ]:
d2 = {x : x**2 for x in range(5)}
d2

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

In [ ]:
d2[5]=25
d2

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

<table width="850">
<td bgcolor="#d5695d"><font color="white" size="6"><b>
5. List Lab
</b></font></td></table>

In [ ]:
names = ['STU' + str(i) for i in range(100,110)]
names

['STU100',
 'STU101',
 'STU102',
 'STU103',
 'STU104',
 'STU105',
 'STU106',
 'STU107',
 'STU108',
 'STU109']

In [ ]:
scores = [ random.randint(60, 100) for i in range(10)]
scores

[83, 65, 77, 68, 96, 62, 93, 89, 94, 90]

In [ ]:
gradebook = [[name,score] for name,score in zip(names, scores)]
gradebook

[['STU100', 83],
 ['STU101', 65],
 ['STU102', 77],
 ['STU103', 68],
 ['STU104', 96],
 ['STU105', 62],
 ['STU106', 93],
 ['STU107', 89],
 ['STU108', 94],
 ['STU109', 90]]

In [ ]:
gb1 = gradebook[:5]
gb1

[['STU100', 83],
 ['STU101', 65],
 ['STU102', 77],
 ['STU103', 68],
 ['STU104', 96]]

In [ ]:
gb2 = [i for i in gradebook if int(i[0][-1]) %2 == 0]
gb2

[['STU100', 83],
 ['STU102', 77],
 ['STU104', 96],
 ['STU106', 93],
 ['STU108', 94]]

In [ ]:
gb3 = [j for j in gradebook if j[1] > 80]
gb3

[['STU100', 83],
 ['STU104', 96],
 ['STU106', 93],
 ['STU107', 89],
 ['STU108', 94],
 ['STU109', 90]]

In [ ]:
total = 0
for s in scores:
  total += s
avg = total / len(scores)
gb4 = [v for v in gradebook if v[1] < avg]
gb4

[['STU101', 65], ['STU102', 77], ['STU103', 68], ['STU105', 62]]

In [ ]:
def g2l(score):
    letters = ['F','F','F','F','F','F','D','C','B','A']
    return letters[score//10]
gradebook = [[v[0],g2l(v[1])] for v in gradebook]
gradebook

[['STU100', 'B'],
 ['STU101', 'D'],
 ['STU102', 'C'],
 ['STU103', 'D'],
 ['STU104', 'A'],
 ['STU105', 'D'],
 ['STU106', 'A'],
 ['STU107', 'B'],
 ['STU108', 'A'],
 ['STU109', 'A']]

<table width="850">
<td bgcolor="#d5695d"><font color="white" size="6"><b>
6. Set Lab
</b></font></td></table>

In [ ]:
import random

scores1 = [random.randint(60, 100) for i in range(10) ]
scores2 = [random.randint(60, 100) for i in range(10) ]

In [ ]:
set1 = set(scores1)
set2 = set(scores2)
print(set1, set2)

{67, 100, 71, 76, 77, 86, 89} {97, 66, 99, 100, 67, 77, 78, 80, 91, 93}

In [ ]:
print(set1.union(set2))

{66, 67, 71, 76, 77, 78, 80, 86, 89, 91, 93, 97, 99, 100}

In [ ]:
print(set1.intersection(set2))

{67, 100, 77}

In [ ]:
print(set1.difference(set2))

{89, 76, 86, 71}

In [ ]:
print(set2.difference(set1))

{97, 66, 99, 78, 80, 91, 93}

<table width="850">
<td bgcolor="#d5695d"><font color="white" size="6"><b>
7. Dictionary Lab
</b></font></td></table>

In [ ]:
d1 = {name:score1 for name, score1 in zip(names, scores1)}
d1

{'STU100': 77,
 'STU101': 71,
 'STU102': 86,
 'STU103': 76,
 'STU104': 71,
 'STU105': 89,
 'STU106': 100,
 'STU107': 67,
 'STU108': 86,
 'STU109': 76}

In [ ]:
print(d1['STU100'])

77

In [ ]:
d2 = {name:score2 for name, score2 in zip(names, scores2)}
d2

{'STU100': 80,
 'STU101': 77,
 'STU102': 93,
 'STU103': 100,
 'STU104': 97,
 'STU105': 99,
 'STU106': 91,
 'STU107': 78,
 'STU108': 67,
 'STU109': 66}

In [ ]:
for name in d2:
    if d2[name] == 99:
        print(name)

STU105

In [ ]:
d3 = {name:[score1, score2] for name, score1, score2 in zip(names, scores1, scores2)}
d3

{'STU100': [77, 80],
 'STU101': [71, 77],
 'STU102': [86, 93],
 'STU103': [76, 100],
 'STU104': [71, 97],
 'STU105': [89, 99],
 'STU106': [100, 91],
 'STU107': [67, 78],
 'STU108': [86, 67],
 'STU109': [76, 66]}

In [ ]:
students_A = {s:[d3[s][0], d3[s][1]] for s in d3 if d3[s][0] >=80 and d3[s][1] >=80}
students_A

{'STU102': [86, 93], 'STU105': [89, 99], 'STU106': [100, 91]}