<a href="https://colab.research.google.com/github/milanfx/Expressway-to-DTSA/blob/main/4.%20Data%20Wrangling%20with%20Python%20/1.%20Data%20Wrangling%20Fundamental/W1_Python_Basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<table width="850">
<td bgcolor="#ba2f2a"><font color="white" size="8"><b>
W1 Python Basics
</b></font></td></table>

<table width="850">
<td bgcolor="#d5695d"><font color="white" size="6"><b>
1. Python Basics
</b></font></td></table>

<table width="850">
<td bgcolor="#f8f2e4"><font color="black" size="4"><b>
1.1 Simple Input and Output
</b><br><br>
Task: Print a message "Welcome to Python Basics, [user's name]" using print and input functions
</font></td></table>

In [ ]:
print('Welcome to Python Basics', input('Please enter your name '))

Please enter your name Milanfx
Welcome to Python Basics Milanfx

<table width="850">
<td bgcolor="#f8f2e4"><font color="black" size="4"><b>
1.2 Simple Variables
</b><br><br>
Task: Create variables representing and check their data types: <br>
a cat (name "Kat") <br>
a price (13.50) <br>
a grade (95) <br>
a flag (True) <br>
an interest rate (5.75%)
</font></td></table>

In [ ]:
cat = 'Kat'
price = 13.50
grade = 95
flag = True
interest = 0.0575
print(type(cat))
print(type(price))
print(type(grade))
print(type(flag))
print(type(interest))

<class 'str'>
<class 'float'>
<class 'int'>
<class 'bool'>
<class 'float'>

<table width="850">
<td bgcolor="#f8f2e4"><font color="black" size="4"><b>
1.3 Assignment Operations
</b><br><br>
Task: Swap the value of variable x and y<br>
Task: Assign variable z with int 5, then with float 5.0, then with string '5.0'
</font></td></table>

In [ ]:
x = 3
y = 5
print(x, y)
temp = x
x = y
y = temp
print(x, y)

3 5
5 3

In [ ]:
z = 5
print(type(z))
z = 5.0
print(type(z))
z = '5.0'
print(type(z))

<class 'int'>
<class 'float'>
<class 'str'>

<table width="850">
<td bgcolor="#f8f2e4"><font color="black" size="4"><b>
1.4 Arithmatic Operations
</b><br><br>
Task: Ask the user to type in two positive int, and compute the result of (+, -, *, /, //, **, %)
</font></td></table>

In [ ]:
while True:
    try:
        x = int(input('Enter First positive int: '))
        if x > 0:
            break
        else:
            print("Please enter a positive integer.")
    except ValueError:
        print("Please enter a valid positive integer.")
while True:
    try:
        y = int(input('Enter Second positive int: '))
        if y > 0:
            break
        else:
            print("Please enter a positive integer.")
    except ValueError:
        print("Please enter a valid positive integer.")

print(x, '+', y, '=', x + y)
print(x, '-', y, '=', x - y)
print(x, '*', y, '=', x * y)
print(x, '/', y, '=', x / y)
print(x, '//', y, '=', x // y)
print(x, '%', y, '=', x % y)

Enter First positive int: 1
Enter Second positive int: 2
1 + 2 = 3
1 - 2 = -1
1 * 2 = 2
1 / 2 = 0.5
1 // 2 = 0
1 % 2 = 1

<table width="850">
<td bgcolor="#f8f2e4"><font color="black" size="4"><b>
1.5 Relational Operations
</b><br><br>
Task: Ask the user to type in two numbers, and compute the result of (<, <=, ==, >=, >, !=)
</font></td></table>

In [ ]:
x = input('Enter First number:')
y = input('Enter Second number:')
print(x, '<', y, '=', x < y)
print(x, '<=', y, '=', x <= y)
print(x, '==', y, '=', x == y)
print(x, '>=', y, '=', x >= y)
print(x, '>', y, '=', x >= y)
print(x, '!=', y, '=', x != y)

Enter First number:1.1
Enter Second number:2.2
1.1 < 2.2 = True
1.1 <= 2.2 = True
1.1 == 2.2 = False
1.1 >= 2.2 = False
1.1 > 2.2 = False
1.1 != 2.2 = True

<table width="850">
<td bgcolor="#f8f2e4"><font color="black" size="4"><b>
1.6 Logical Operations
</b><br><br>
Task: Let x be `True` and y be `False`. Compute and print the result of (and, or, not)
</font></td></table>

In [ ]:
x = True
y = False
print(x, 'and', y, '=', x and y)
print(x, 'or', y, '=', x or y)
print('not', x, '=', not x)
print('not', y, '=', not y)

True and False = False
True or False = True
not True = False
not False = True

<table width="850">
<td bgcolor="#f8f2e4"><font color="black" size="4"><b>
1.7 Branching (If)
</b><br><br>
Task: What day is today?
</font></td></table>

In [ ]:
while True:
    day = input('What day is today? 1 - 7: ')
    if day in ['1', '2', '3', '4', '5', '6', '7']:
        break
    else:
        print("Please enter a valid number between 1 and 7.")
day = int(day)
if day == 1:
    print('Monday')
elif day == 2:
    print('Tuesday')
elif day == 3:
    print('Wednesday')
elif day == 4:
    print('Thursday')
elif day == 5:
    print('Friday')
elif day == 6:
    print('Saturday')
elif day == 7:
    print('Sunday')

What day is today? 1 - 7: 8
Please enter a valid number between 1 and 7.
What day is today? 1 - 7: 7
Sunday

<table width="850">
<td bgcolor="#f8f2e4"><font color="black" size="4"><b>
1.8 Repetition (For and While)
</b><br><br>
Task: Save money for retirement: <br>
1.  Asks the user for a number representing a new positive deposit for the retirement fund. <br>
2.  Print out the amount of the deposit as well as the balance for each transaction. <br>
3.  When the balance is equal or more than 1 million, print a message "You can retire now" to the user. <br>
4.  Print "Congratualtions!" and exit the program.
</font></td></table>

In [ ]:
balance = 0
while balance < 1000000:
  deposit = float(input('Please enter a positive amount of deposit:'))
  balance += deposit
  print('Deposited:', deposit, 'and you have balance of', balance)
print('You can retire now!')
print('Congratulations!')

Please enter a positive amount of deposit:990000
Deposited: 990000.0 and you have balance of 990000.0
Please enter a positive amount of deposit:10000
Deposited: 10000.0 and you have balance of 1000000.0
You can retire now!
Congratulations!

<table width="850">
<td bgcolor="#d5695d"><font color="white" size="6"><b>
2. Python Functions
</b></font></td></table>

<table width="850">
<td bgcolor="#f8f2e4"><font color="black" size="4"><b>
2.1 Simple functions
</b><br><br>
Task1: Define a function sayhi() that: <br>
1. Ask user for an int and save it to n <br>
2. print 'Welcome to Python Functions' n times
</font></td></table>

In [ ]:
def sayhi():
  n = int(input('Enter an int:'))
  for i in range(n):
    print('Welcome to Python Functions')

In [ ]:
sayhi()

Enter an int:5
Welcome to Python Functions
Welcome to Python Functions
Welcome to Python Functions
Welcome to Python Functions
Welcome to Python Functions

<table width="850">
<td bgcolor="#f8f2e4"><font color="black" size="4"><b>
2.2 Advanced functions
</b><br><br>
Task: Define a function sayhi(n, msg) that: <br>
1. n is by default 1, if user doesn't pass an argument to the function <br>
2. msg by default is 'Welcome to Python Functions', if user doesn't pass an argument <br>
3. print msg n times
</font></td></table>

In [ ]:
def sayhi(n=3, msg='Hi'):
  for i in range(n):
    print(msg)

In [ ]:
sayhi(1, 'Hello')

Hello

In [ ]:
sayhi(n=1)

Hi

In [ ]:
sayhi(msg='Hello')

Hello
Hello
Hello

<table width="850">
<td bgcolor="#d5695d"><font color="white" size="6"><b>
3. Python Packages
</b></font></td></table>

<table width="850">
<td bgcolor="#f8f2e4"><font color="black" size="4"><b>
3.1 Random Package
</b><br><br>
Task: Generate random Numbers
</font></td></table>

In [ ]:
# integer 0 ~ 10
import random
i = random.randint(0, 10)
print(i)

6

In [ ]:
# integer within a ~ b
a = int(input('Please enter a: '))
b = int(input('Please enter b: '))
i = random.randint(min(a,b), max(a,b))
print(i)

Please enter a: 15
Please enter b: 5
12

In [ ]:
# float 0 ~ 10
f = random.uniform(0, 10)
print(f)

7.111218307623856

In [ ]:
# float Normal Distribution
f = random.gauss(0, 1)
print(f)

0.2761478043870908

In [ ]:
# int list
l = []
for i in range(5):
  l.append(random.randint(0, 10))
print(l)

[3, 1, 1, 7, 5]

In [ ]:
# float list
l = []
for i in range(5):
  l.append(random.uniform(0, 10))
print(l)

[2.3697231280475983, 5.382184830643814, 8.543897530818242, 9.911599954764373, 0.551886504718685]

<table width="850">
<td bgcolor="#f8f2e4"><font color="black" size="4"><b>
3.2 Math Package
</b><br><br>
Task: Transform different Numbers <br>
</font></td></table>

In [ ]:
import math
x = float(input('Enter a number: '))
print('x is', x)
print('ceiling is', math.ceil(x))
print('floor is', math.floor(x))
print('abs is', math.fabs(x))
print('exp is', math.exp(x))
print('log is', math.log(x))
print('sqrt is', math.sqrt(x))

Enter a number: 4.1
x is 4.1
ceiling is 5
floor is 4
abs is 4.1
exp is 60.34028759736195
log is 1.410986973710262
sqrt is 2.0248456731316584

In [ ]:
# factorial
x = int(input('Enter a number: '))
print('x is', x)
print('x! is', math.factorial(x))

Enter a number: 5
x is 5
x! is 120